:root {
  --background_color: #1E252B;
  --white_color: #ffffff
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background_color);
}

.container {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 38px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 21.37px;
  text-decoration: none;
  margin-right: 257px;
}

.logo span {
  color: var(--white_color);
  font-size: 22px;
  font-weight: 600;
}

nav{
    margin-right: 193px;
}
nav ul {
  display: flex;       
  gap: 30px;            
  list-style: none;     
}

nav a {
  text-decoration: none;    
  color: #cfd8dc;
  font-size: 16px;
}

nav a:hover {
  color: #ff6a3d;           
}

.auth {
  display: flex;
  align-items: center;
  gap: 41px;
}

.login {
  color: #cfd8dc;
  text-decoration: none;
  font-size: 16px;
}

.signup {
  background-color: #ff6a3d;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

.hero {
  margin-top: 100px;
  background-image:url(/style/img/Illustration.png) ;
  background-position: right;
  background-repeat: no-repeat;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 600;
  line-height: 140%;;
}

.hero-text h1 span {
  color: #ff6a3d;
}

.hero-text p {
  margin-top: 30px;
  color: #cfd8dc;
  font-size: 18px;
  line-height: 30px;
}

.search-box {
  margin-top: 40px;
  display: flex;
  background: #283036;
  border-radius: 15px;
  padding: 8px;
  width: 500px;
  font-size: 14px;
  align-items: center;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 20px;
  font-size: 16px;
}

.search-box button {
  background: #ff6a3d;
  border: none;
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.hero-image img {
  margin-left: 124px;
  max-width: 500px;
}
.socials {
  margin-top: 110px;
  display: flex;
  gap: 28px;
}


.search-box img{
  width: 24.08px;
  height: 24px;
  
}

