:root {
  --background_color: #1E252B;
  --white_color: #ffffff;
  --white_color_55: #ffffff8c;
  --orange: #ff6a3d;
  --black: #283036;
  --card_hover:#2a333d;
  --tag_color: #FFCD37;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background_color);
  color: var(--white_color)
}

.container {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 38px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 21.37px;
  text-decoration: none;
  margin-right: 257px;
}

.logo span {
  color: var(--white_color);
  font-size: 22px;
  font-weight: 600;
}

nav{
    margin-right: 193px;
}
nav ul {
  display: flex;       
  gap: 30px;            
  list-style: none;     
}

nav a {
  text-decoration: none;    
  color: var(--white_color_55);
  font-size: 16px;
}

nav a:hover {
  color: var(--orange);           
}

.auth {
  display: flex;
  align-items: center;
  gap: 41px;
}

.login {
  color: var(--white_color_55);
  text-decoration: none;
  font-size: 16px;
}

.signup {
  background-color: var(--orange);
  color: var(--white_color);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

.hero {
  margin-top: 100px;
  background-image:url(../img/Illustration.png);
  background-position: right;
  background-repeat: no-repeat;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 50px;
  color: var(--white_color);
  font-weight: 600;
  line-height: 140%;;
}

.hero-text h1 span {
  color: var(--orange);
}

.hero-text p {
  margin-top: 30px;
  color: var(--white_color_55);
  font-size: 18px;
  line-height: 30px;
}

.search-box {
  margin-top: 40px;
  display: flex;
  background: var(--black);
  border-radius: 15px;
  padding: 8px;
  width: 500px;
  font-size: 14px;
  align-items: center;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  
  padding-left: 20px;
  font-size: 16px;
}

.search-box button {
  background: var(--orange);
  border: none;
  color: var(--white_color);
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.hero-image img {
  margin-left: 124px;
  max-width: 500px;
}
.socials {
  margin-top: 110px;
  display: flex;
  gap: 20px;
}


.search-box img{
  width: 24.08px;
  height: 24px;
  
}

.popular {
  margin-top: 200px;
}

.popular-header {
  text-align: center;
  margin-bottom: 90px;
}

.popular-header h2 {
  color: var(--white_color);
  font-size: 48px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;

}

.popular-header p {
  margin-top: 20px;
  color:var(--white_color_55) ;
  line-height: 26px;
}

.tools-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.tool-card {
  display: flex;
  flex-direction: column;
   background: var(--background_color);
  border-radius: 20px;
  padding: 28px;
  width: calc((100% - 50px) / 3); 
  transition: 0.3s;
}

.tool-card img{
      max-height: 65px;
      max-width: 65px;

}
.card-footer {
  margin-top: auto;
}

.tool-card:hover {
  background: var(--card_hover);
  box-shadow: 0 0 30px rgba(255,106,61,0.15);
}

.tool-card h3 {
  color: var(--white_color);
  margin-top: 20px;
}

.tag {
  display: inline-block;
  margin-top: 5px;
  color: var(--tag_color);
  font-size: 18px;
}

.tool-card p {
  margin-top: 15px;
  color: var(--white_color_55);
  font-size: 16px;
  line-height: 22px;
}

.card-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer a {
  color: var(--white_color_55);
  text-decoration: none;
}

.card-footer button {
  background: var(--orange);
  border: none;
  color: var(--white_color);
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
}

.load-more {
  text-align: center;
  margin-top: 100px;
}

.load-more button {
  background: transparent;
  border: 1px solid var(--orange);
  color: var(--orange);
  padding: 14px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.tool-head {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icons{
  display: flex;
  gap:20px;
}

.brand {
  margin-top: 200px;
}

.brand h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.brand-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logos img:hover {
  opacity: 1;
}

.newcomers {
  margin-top: 200px;
}

.newcomers .container {
  display: flex;
  gap: 80px;
}

.newcomers-header {
  max-width: 330px;
}

.newcomers-header h2 {
  font-size: 48px;
}

.newcomers-header p {
  margin-top: 30px;
  color: var(--white_color_55);
}

.newcomers-header .explore {
  margin-top: 40px;
  padding: 14px 30px;
  background: var(--orange);
  border-radius: 8px;
  border: none;
  color: var(--white_color);
}

.newcomers .tools-grid {
  justify-content: flex-start;
}

.newcomers .tool-card {
  width: calc((100% - 25px) / 2);
}

.newcomers .tool-card:hover {
  background: var(--card_hover);
}

.testimonial {
  margin-top: 200px;
}

.testimonial-content {
  display: flex;
  align-items: center;
  gap: 80px;
}

.testimonial-image {
  position: relative;
}

.person-info {
  position: absolute;
  bottom: -25px;
  left: 20px;
  background: var(--black);
  padding: 12px 20px;
  border-radius: 8px;
}

.person-info span {
  color: var(--white_color_55);
  font-size: 14px;
}

.testimonial-text p {
  max-width: 500px;
  color: var(--white_color_55);
  line-height: 28px;
}

.testimonial-slider {
  position: relative;
  padding: 0 60px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 32px;
  color: #5a5f64; 
  cursor: pointer;
}

.arrow-left {
  left: 0;
  
}

.arrow-right {
  right: 0;
}

.arrow:hover {
  color: var(--orange); 
}

.testimonial-nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.testimonial-nav .dot {
  width: 16px;
  height: 6px;
  background: #555;
  border-radius: 6px;
}

.testimonial-nav .dot:hover {
  background: var(--orange);
}

.join {
  margin-top: 200px;
  text-align: center;
}

.join h2 {
  font-size: 48px;
}

.join p {
  margin-top: 20px;
  color: var(--white_color_55);
}

.join-form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join-form input {
  width: 350px;
  padding: 16px;
  background: var(--black);
  border-radius: 10px;
  border: none;
  color: var(--white_color);
}

.join-form button {
  padding: 16px 30px;
  background: var(--orange);
  border-radius: 10px;
  border: none;
  color: var(--white_color);
}