:root {
  --background_color: #1E252B;
  --white_color: #ffffff;
  --white_color_55: #ffffff8c;
  --orange: #ff6a3d;
  --black: #283036;
  --card_hover:#2a333d;
  --tag_color: #FFCD37;
  --grey: #5a5f64;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background_color);
  color: var(--white_color)
}

.container {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 38px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 21.37px;
  text-decoration: none;
  margin-right: 257px;
}

.logo span {
  color: var(--white_color);
  font-size: 22px;
  font-weight: 600;
}

nav{
    margin-right: 193px;
}
nav ul {
  display: flex;       
  gap: 30px;                
  justify-content: space-between; 
}

.categories{
  display: flex;
  align-items: center;
}

ul{
  list-style: none;
  padding: 0;
}

nav a {
  text-decoration: none;    
  color: var(--white_color_55);
  font-size: 16px;
}

nav a:hover {
  color: var(--orange);           
}

.auth {
  display: flex;
  align-items: center;
  gap: 41px;
}

.login {
  color: var(--white_color_55);
  text-decoration: none;
  font-size: 16px;
}

.signup {
  background-color: var(--orange);
  color: var(--white_color);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

.hero {
  margin-top: 100px;
  background-image:url(../img/Illustration.png);
  background-position: right;
  background-repeat: no-repeat;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 50px;
  color: var(--white_color);
  font-weight: 600;
  line-height: 140%;;
}

.hero-text h1 span {
  color: var(--orange);
}

.hero-text p {
  margin-top: 30px;
  color: var(--white_color_55);
  font-size: 18px;
  line-height: 30px;
}

.search-box {
  margin-top: 40px;
  display: flex;
  background: var(--black);
  border-radius: 15px;
  padding: 8px;
  width: 500px;
  font-size: 14px;
  align-items: center;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  
  padding-left: 20px;
  font-size: 16px;
}

.search-box button {
  background: var(--orange);
  border: none;
  color: var(--white_color);
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.hero-image img {
  margin-left: 124px;
  max-width: 500px;
}
.socials {
  margin-top: 110px;
  display: flex;
  gap: 20px;
}


.search-box img{
  width: 24.08px;
  height: 24px;
  
}

.popular {
  margin-top: 200px;
}

.popular-header {
  text-align: center;
  margin-bottom: 90px;
}

.popular-header h2 {
  color: var(--white_color);
  font-size: 48px;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0%;

}

.popular-header p {
  margin-top: 20px;
  color:var(--white_color_55) ;
  line-height: 26px;
  font-size: 16px;
}

.tools-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.tool-card {
  display: flex;
  flex-direction: column;
   background: var(--background_color);
  border-radius: 20px;
  padding: 28px;
  width: calc((100% - 50px) / 3); 
}

.tool-card img{
  max-height: 65px;
  max-width: 65px;

}
.card-footer {
  margin-top: auto;
}

.tool-card:hover {
  background: var(--card_hover);
  box-shadow: 0 0 30px rgba(255,106,61,0.15);
}

.tool-card h3 {
  color: var(--white_color);
  margin-top: 20px;
  font-size: 24px;
}

.tag {
  display: inline-block;
  margin-top: 5px;
  color: var(--tag_color);
  font-size: 18px;
}

.tool-card p {
  margin-top: 15px;
  color: var(--white_color_55);
  font-size: 16px;
  line-height: 30px;
}

.card-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer a {
  color: var(--white_color_55);
  text-decoration: none;
}

.card-footer button {
  background: var(--orange);
  border: none;
  color: var(--white_color);
  padding: 9px 35px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.load-more {
  text-align: center;
  margin-top: 100px;
}

.load-more button {
  background: transparent;
  border: 1px solid var(--black);
  color: var(--orange);
  padding: 17px 38px;
  border-radius: 10px;
}

.tool-head {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icons{
  display: flex;
  gap:20px;
}

.brand .container {
  margin-top: 200px;
  background-color: #2C353D33;
  border-radius: 25px;
  background:
    radial-gradient(circle at 3% 5%, rgba(255,106,61,0.20) 0%, transparent 10%),
    #2C353D33;  
}

.brand h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 55px;
  padding-top: 55px;
  font-weight: normal
}

.brand-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 107px;
  padding-bottom: 55px;
  padding-left: 83px;
  padding-right: 83px;
}


.newcomers {
  margin-top: 200px;
}

.newcomers .container {
  display: flex;
  justify-content: space-between;
}

.newcomers-header {
  width: 427px;
  height: 300px;
  margin-top: 20px;
}

.newcomers-header h2 {
  font-size: 48px;
  font-weight: normal;
}

.newcomers-header p {
  margin-top: 30px;
  color: var(--white_color_55);
}

.newcomers-header .explore {
  margin-top: 40px;
  padding: 14px 30px;
  background: var(--orange);
  border-radius: 8px;
  border: none;
  color: var(--white_color);
}

.newcomers .tools-grid {
  display: flex;
  justify-content: flex-start;
  max-width: 600px;
}

.newcomers .tool-card {
  width: calc((100% - 25px) / 2);
  max-width: 288px;
  max-height: 284px;
}

.newcomers .tool-card:hover {
  background: var(--card_hover);
}

.tool-head h3{
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 3px;
}
.testimonial {
  margin-top: 200px;
}

.testimonial-content {
  display: flex;
  align-items: center;
  gap: 80px;
}

.testimonial-image {
  position: relative;
}

.person-info span {
  color: var(--white_color_55);
  font-size: 14px;
}

.testimonial-text p {
  max-width: 500px;
  font-size: 14px;
  color: var(--white_color_55);
  line-height: 30px;
  position: relative;
  padding-left: 50px; 
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1,5%;
}

.testimonial-text p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 103px;
  height: 90px;
  background: url("../img/text-background.png") no-repeat center;
  background-size: contain;
}

.testimonial-slider {
  position: relative;
  padding: 0 60px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 32px;
  color: #5a5f64; 
  cursor: pointer;
}

.arrow-left {
  left: 0;
  
}

.arrow-right {
  right: 0;
}

.arrow:hover {
  color: var(--orange); 
}

.testimonial-nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.testimonial-nav .dot {
  width: 44px;
  height: 8px;
  background: var(--black);
  border-radius: 4px;
}

.testimonial-nav .dot:hover {
  background: var(--orange);
}

.join {
  margin-top: 200px;
  text-align: center;
}

.join h2 {
  font-size: 48px;
  margin-bottom: 25px;
  font-weight: normal;
}

.join p {
  margin-top: 20px;
  color: var(--white_color_55);
}

.join-form {
  margin-top: 60px;
  display: flex;
  align-items: center;
  background: var(--black);
  border-radius: 15px;
  padding: 8px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}


.join-form input {
  flex: 1;
  padding: 16px 20px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white_color);
  font-size: 14px;
}

.join-form button {
  padding: 16px 30px;
  background: var(--orange);
  border-radius: 10px;
  border: none;
  color: var(--white_color);
  font-size: 16px;
  cursor: pointer;
}

footer {
  margin-top: 200px;
  background: var(--background_color);
  border-top: 1px solid var(--black);
  padding: 70px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  flex-wrap: wrap;
}


.footer-about {
  max-width: 260px;
}

.footer-about p {
  color: var(--white_color_55);
  line-height: 25px;
  font-size: 14px;
  margin-top: 20px;
}

.footer-about .Copyright {
  color: var(--white_color);
  font-size: 16px;
  
}

footer .logo {
  margin-right: 0; 
  color: var(--white_color);
  margin-bottom: 25px;    
}

footer .logo span {
  font-size: 20px;
}


.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 160px;
}

.footer-column h4 {
  
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

.footer-column p,
.footer-column a {
  color: var(--white_color_55);
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}
